.avatar{
    max-height: 175px;
    max-width:225px;

}
.player{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}
#title{
    text-align: center
}
.buttons {
    display: flex;  
    /* justify-content: space-?around; */
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-around;
    margin-bottom: 30px;
    
    
}
button {
    background-color: rgb(95, 167, 235);
    
    
    height: 2.5em;
    width:9em;
    border-radius: 10px;
    font-size: large;
    font-family: "Sofadi One", system-ui;
    font-weight: 700;
    font-style: normal;
}
button:hover{
    background-color: rgb(11, 233, 48);
}
body{
    background-image: radial-gradient(#000000 2px, transparent 2px), radial-gradient(#000000 2px, transparent 2px);
background-size: 14px 14px;
background-position: 0 0, 7px 7px;
background-color: #ffffff;

}
#title{
    background-color: beige;
    padding: 10px;
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    border: 2px solid gray;  

}

h4{
    font-size:larger;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight:600;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    color: rgb(6, 13, 107);
    background-color: aliceblue;
    padding: 5px;
    margin-top:10px;
    margin-bottom:10px

}
h5{
    background-color: #250958;
    color: aliceblue;
    padding: 4px;
    margin-top: 2px;
    margin-bottom: 0;
    text-align: center;
}